* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: url("../images/under_construction.jpg") no-repeat center center/cover;
  height: 100vh;
}

.flex-container {
  position: absolute;
  top: 2.5vmin;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 8vw;
}

.flex-container i {
  color: #f4f4f4;
  font-size: 7vmin;
}
