* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/under_construction.jpg") no-repeat center center/cover;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.flex-container {
  display: flex;
  position: relative;
  top: 2.5vmin;
  justify-content: center;
  gap: 8vw;
}

.flex-container i {
  color: #f4f4f4;
  font-size: 7vmin;
}
