* {
  /* Set the box model to border-box */
  box-sizing: border-box;
  /* Reset the margin and padding */
  margin: 0;
  padding: 0;
}

body {
  /* Set the background image to a photo of a construction site */
  background: url("../images/under_construction.jpg") no-repeat center center/cover;
  /* Set the height of the body to 100% of the viewport height */
  height: 100vh;
  /* Set the font to Roboto */
  font-family: "Roboto", sans-serif;
}

.flex-container {
  /* Display the flex-container as a flex-container */
  display: flex;
  /* Position the flex-container 2.5% from the top of the viewport */
  position: relative;
  top: 2.5vmin;
  /* Center the items in the flex-container */
  justify-content: center;
  /* Set the gap between items to 8% of the viewport width */
  gap: 8vw;
}

.flex-container i {
  /* Set the color of the icons to white */
  color: #f4f4f4;
  /* Set the size of the icons to 7% of the viewport height */
  font-size: 7vmin;
}
