* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
}

body {
  background: #f4f4f4;
}
img {
  display: block;
  margin: auto;
  max-height: 100%;
}
i {
  color: #333;
  font-size: 34px;
}
.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
